<!-- This launch file includes all separate files needed to launch the robot arm demo -->

<launch> 
  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="align_depth" value="true" />
  </include>
  <include file="$(find rtabmap_ros)/launch/rtabmap.launch">
    <arg name="rtabmap_args" value="--delete_db_on_start" />
    <arg name="depth_topic" value="/camera/aligned_depth_to_color/image_raw" />
    <arg name="rgb_topic" value="/camera/color/image_raw" />
    <arg name="camera_info_topic" value="/camera/color/camera_info" />
    <arg name="approx_sync" value="false" />
  </include>
  <include file="$(find backpack_config)/launch/demo.launch" />
  <include file="$(find move_backpack)/launch/hebimove.launch" />
  <include file="$(find move_backpack)/launch/joystick.launch" />
</launch> 
