<launch>

    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find hebi_description)/urdf/robot.xacro'" />

    <arg name="joint_state_publisher_gui" default="true" />

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <param name="joint_state_publisher_gui" value="$(arg joint_state_publisher_gui)"/>
        <rosparam param="source_list">[move_group/fake_controller_joint_states]</rosparam>
    </node>

    <!-- Combine joint values-->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen"/>

    <node pkg="tf" type="static_transform_publisher" name="world_frames_connection" args="-0.3 0.08 0.6 0 0 0 /world /map 100"/>

    <!-- Show in RViz -->
    <node name="rviz" pkg="rviz" type="rviz" />

</launch>
